.App {
    min-height: 100vh;
    width: 100vw;
    background: $tertiary;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    color: $primary;

    &.flex-layout {
        display: flex;
        justify-content: center;
    }

    &.App default-layout {
        display: block;
    }
}