.App {
    min-height: 100vh;
    width: 100vw;
    background: $tertiary;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    color: $primary;

    &.flex-layout {
        display: flex;
        justify-content: center;
    }

    &.App default-layout {
        display: block;
    }
}

.ant-breadcrumb {
    display: flex;
    align-items: center;

    span {
        color: $secondary;
    }

    .ant-breadcrumb-separator {
        color: $secondary;
    }



}

header {
    display: flex;
    align-items: center;

    .header-image {
        height: 80%;
        margin-right: 20px;
    }
}

footer {
    display: flex;
    justify-content: center;
}