.custom-carousel-item {

    .custom-card {
        justify-content: center;
        display: flex;
        margin-bottom: 50px;

        .ant-card {
            max-height: 80%;

            @include mob {
                width: 80%;
            }

            @include tab {
                width: 80%;
            }
        }
    }

}

p {
    text-align: center;
    color: $secondary;
    font-size: 50px;
    margin-bottom: 20px;
}

.action-button {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}