.zoom-on-hover {
  transition: all 0.3s ease;
  position: relative;
  fill: $primary;
}

.zoom-on-hover:hover {
  fill: $secondary;
  position: relative;
}

.map {
  position: relative;
  max-width: 80%;

  h1 {
    text-align: center;
    color: $secondary;
    font-size: 50px;
    margin-top: 15px;
  }

  svg {
    max-width: 100%;
    height: auto;

    path {
      stroke-width: 1;
      stroke: $secondary;
    }
  }

  &__tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    transform: translate(-50%, -100%);
    z-index: 9999;
    max-width: 200px;
  }
}