$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 360px;

@mixin mob {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin tab {
  @media (min-width: #{$mobile-breakpoint}) and (max-width: #{$tablet-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-breakpoint}) {
    @content;
  }
}